body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://media.giphy.com/media/1isdjx8uVEg2phr9ux/giphy.gif') no-repeat center center/cover;
    color: #fff;
}

.login-container {
    display: flex;
    background-color: rgba(11, 15, 24, 0.7); 
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    padding: 50px;
    max-width: 500px; 
    width: 100%;
    height: 60%;
    flex-direction: column;
}

.login-form {
    width: 100%;
    background: rgba(5, 4, 17, 0);
}

.login-form h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 40px;
    background-color: #2E3039;
    color: #fff;
    font-size: 14px;
}

.google-login {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #2E3039;
    border: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.google-login::before {
    content: url('https://img.icons8.com/color/16/000000/google-logo.png');
    margin-right: 10px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #818186;
    border: none;
    border-radius: 200px;
    color: #000000;
    cursor: pointer;
    font-size: 19px;
}


